@import url('https://fonts.googleapis.com/css?family=Montserrat:200,300,400,500,600,700,800,900|Nunito+Sans:300,400,600,700,900&display=swap');

$width-main: 90%;

$color-bz-green: #009C3B;
$color-bz-yellow: #FFDF00;
$color-bz-yellow-subtle: rgb(255, 246, 185);
$color-bz-blue: #002776;

$font-header: 'Montserrat', sans-serif;
$font-main: 'Nunito Sans', sans-serif;



body {

  height: 100vh;
  width: 100vw;

    // margin: 0;

  overflow: hidden;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

      background-image:
  radial-gradient(
    ellipse at center,
    rgba(253, 253, 253,0.9),
    rgba(200, 200, 200,0.4),


  );
  background-color: white;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


#root {
  // display: flex;
  // justify-content: center;
  // flex-direction: column;
  

  width: 100vw;
  // height: auto;
  // margin: 0;
  // padding: 10%;

  font-family: $font-main;

}

// HEADER SECTION

.header-section{
  // display: flex;
  // justify-content: center;
  // flex-direction: column;

  width: 100vw;
  padding: 2vmin;

  text-align: center;
  color: white;
  background-color: #a17188;

  h1 {
    font-family: $font-header;
  }
}

.unit-form {
  display: flex;
  justify-content: center;
  flex-direction: row;

  width: $width-main;
  margin: 0 5%;
  padding: 5vmin;


}

// .form-svg {
  
//   width: 100px;
//   height: 100px;

//   margin: 40px 0;
// }

  input {

    margin: 0 1vmin;
    padding: 1rem 1rem 0.7rem 1rem;

    font-weight: 800;
    font-size: 1.5rem;
    text-align: center;

    background: rgb(153,153,153);
    background: linear-gradient(0deg, rgba(153,153,153,1) 0%, rgba(216,164,172,0.1) 0%, rgba(255,255,255,1) 100%);
  }

// DROPDOWN
label {
  padding: 0.4rem;
  font-size: 1rem;
  font-weight: 700;
}


.select-from, .select-to {

  width: 15rem;
  max-width: 20%;
  margin: 0 0.4rem;
  padding: .6rem 1.4rem .5rem .8rem;
  border: 1px solid #aaa;
  
	font-size: 1rem;
	font-family: sans-serif;
	font-weight: 700;
	color: #444;
	line-height: 1.3;

	box-sizing: border-box;

	box-shadow: 0 1px 0 1px rgba(0,0,0,.04);
	border-radius: .5em;
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
	background-color: #fff;
	background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E'),
	  linear-gradient(to bottom, #ffffff 0%,#e5e5e5 100%);
	background-repeat: no-repeat, repeat;
	background-position: right .7em top 50%, 0 0;
  background-size: .65em auto, 100%;

  option {
    font-weight:normal;
  }
}
.select-from::-ms-expand, .select-to::-ms-expand {
	display: none;
}
.select-from:hover {
	border-color: #888;
}

.select-from:focus {
	border-color: #aaa;
	box-shadow: 0 0 1px 3px rgba(59, 153, 252, .7);
	box-shadow: 0 0 0 3px -moz-mac-focusring;
	color: #222;
	outline: none;
}

.converted-val {
  margin: 0 3vmin;
  font-size: 1.5rem;
  font-weight: 700;
}


.language-select {
  margin: 2vmin 0;
  text-align: center;

  h2 {
    padding: 1vmin;
    font-size: 1.4rem;
  }
}